@font-face {
  font-family: 'Elliot Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/ElliotSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Elliot Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/ElliotSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Elliot Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/ElliotSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Cloveris';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/cloveris-cloveris-400.ttf') format('truetype');
}
